@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5e5;
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 0px 10px;
}

.treino {
    background: url(./images/refeicao2.jpg);
    background-size: cover;
    height: 25vh;
    color: #fff;
    font-size: 24px;
    margin-top: 50px;
    border-radius: 11px;
}

.exercicios {
    margin: 50px 0px;
}

.imgExercicio {
    width: 150px;
    height: 150px;
    border-radius: 7px;
}

p {
    font-size: 22px;
    color: #000;
    font-weight: 450;
    margin-top: 15px;
}

.qtde-nutriente {
    font-size: 18px;
}

.nutriente {
    font-size: 14px;
    color: #8a8a8a;
}

.rept{
    background-color: #c4c4c4;
    border-radius: 30px;
}

.icon-check {
    color: #00CCE8;
}

.phone-content {
    display: none;
}

@media only screen and (max-width: 420px) {
    .treino {
        width: 80vw;
        height: 15vh;
        margin: 0;
    }

    .imgExercicio {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: flex-start;
    }

    .navbar-brand {
        display: none;
    }

    .collapse {
        display: flex;
        align-items: end;
    }

    .avatar {
        width: 70px;
        height: 70px;
        margin-left: 15px;
        display: flex;
        justify-content: end;
    }

    .navbar {
        display: none;
    }

    .phone-content {
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }
    
    .lista {
        margin-top: 20px;
    }

    .nav-item {
        display: inline-block;
    }

    i {
        color: #000;
    }
}